.signup-form {
  padding-top: 20px;
  margin: 0 auto;
}

.signup-form > h3 {
  text-align: center;
}

.signup-submit-button > button {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.nav-search {
  background-color: #e57373;
}

.parallax-container {
  height: 400px;
}

.material-icons, .cart-badge {
  display: inline-block !important;
}