<% layout('boilerplate') -%>

<h1>Shop Smart, Save Big!</h1>
<p>Starting point to create someting more unique</p>

<p>Signup to start Buying</p>
<h3>Start your search here</h3>

<p>Our prices are some of the best on the web.</p>

<h3>Looking for smart items?</h3>
<p>Cool items</p>

<h3>Build a smart cart</h3>
<p>Your cart</p>